{{ if and (lt .Level 4) (gt .Level 1) }}
<div class="relative">
	<h{{ .Level }} id="{{ .Anchor | safeURL }}"><a class="anchor left-nospaced md:left-spaced" href="#{{ .Anchor | safeURL }}">#</a>{{ .Text | safeHTML }}</h{{ .Level }}>
</div>
{{ else }}
	<h{{ .Level }} id="{{ .Anchor | safeURL }}">{{ .Text | safeHTML }}</h{{ .Level }}>
{{ end }}
