<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">
	{{ partial "head.html" . }}
	<body>
		{{ partial "navbar.html" . }}
		{{ partial "breadcrumbs.html" . }}
		<main>
			<div class="mb-6">
				{{ partial "banner-newsletter.html" }}
			</div>
			<div class="container">
				{{ block "main" . }}{{ end }}
			</div>
		</main>
		{{ partial "footer.html" . }}
		{{ partial "script.html" . }}
	</body>
</html>
