<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">
	{{ partial "head.html" . }}
	<body>
		{{ partial "navbar.html" . }}
		{{ partial "breadcrumbs.html" . }}
		<main class="container">
			{{ block "main" . }}{{ end }}
		</main>
		{{ partial "footer.html" . }}
		{{ partial "script.html" . }}
	</body>
</html>
