{{ define "main" }}

<h1>{{ .Title }}</h1>

<br/>

{{ range .Data.Terms.Alphabetical }}
  <p>
    <a class="btn btn-outline-dark font-125" href="{{ .Page.RelPermalink }}">
      <span class="badge badge-dark">{{ .Count }}</span> {{ .Page.Title }}
    </a>
  </p>
{{ end }}

{{ end }}
