{{ define "main" }}
{{ $href := print (absURL "tags/") (urlize .Title) }}
<h1>Posts Tagged: <a href="{{ $href }}"><span class="btn btn-xs btn-tag">{{ .Title }}</span></a></h1>

{{ partial "post-pagination.html" . }}

{{ end }}
