{{ define "main" }}

<h1>{{ .Title }}</h1>

<div class="font-mono text-md">
	{{ range .Data.Terms.Alphabetical }}
		<div class="mb-6">
			<span class="btn p-1 bg-black text-white">{{ .Count }}</span>
			<a href="{{ .Page.RelPermalink }}">
				<span class="btn btn-xs btn-tag">{{ .Page.Title }}</span>
			</a>
		</div>
	{{ end }}
</div>

{{ end }}
