{{ define "main" }}

<div class="container">
	<h1>{{ .Title }}</h1>

	<article>
		{{ .Content }}
	</article>

	{{ range .Pages.ByDate.Reverse }}
		{{ partial "post-card.html" . }}
	{{ end }}
</div>

{{ end }}
