{{ define "main" }}

<div class="container">

	<div class="mb-6">
		<h1 class="mb-0">{{ .Title | markdownify }}</h1>
		{{ partial "date-modified.html" . }}
		<div class="mb-4">
			{{ partial "tags.html" . }}
		</div>
	</div>

	<article class="mb-8">
		{{ partial "content-replace.html" .Content }}
	</article>

	{{ partial "divider-icons.html" . }}

	<div class="mb-8">
		<h2 class="text-center">Meet the Author</h2>
		{{ partial "author-card.html" . }}
	</div>
</div>

<!-- <div class="mb-4"> -->
<!-- 	{{ partial "banner-newsletter.html" . }} -->
<!-- </div> -->

<div class="bg-gray-200 border-t mb-6">
	<div class="container pt-5 pb-4">
		{{ partial "related-posts.html" . }}
	</div>
</div>

<div class="container mb-6">
	{{ partial "isso.html" . }}
</div>

{{ end }}
