{{ define "main" }}

<h1>{{ .Title }}</h1>

<article>

	<h1>About Me</h1>

	<p>I'm <a href="https://johnallbritten.com">John Allbritten</a>, creator and maintainer here at theSynAck.</p>

	{{ partial "author-card" "jallbrit" }}

	{{ .Content }}
</article>

{{ end }}
