{{ define "main" }}

<div class="container">

	<h1>{{ .Title }}</h1>

	<article>
		{{ partial "replace-content.html" .Content }}
	</article>

	<div class="mb-10">
		{{ partial "about-authors.html" . }}
	</div>
</div>

<div class="bg-gray-100 border-t pt-6 pb-12 mb-6">
	<div class="container">
		<h2 class="text-center mb-6">Keep Reading</h2>
		{{ partial "post-navigation.html" . }}
	</div>
</div>

<div class="container">
	{{ partial "utterances.html" . }}
</div>

{{ end }}
