<div class="mb-3 p-4 border rounded-lg border-gray-300 bg-gray-100">
	<div class="sm:flex mb-3">
		<img src="{{ site.Params.author.avatar }}" class="border border-gray-transparent h-24 w-24 rounded-full mx-auto sm:mr-4 mb-4 sm:mb-0" style="min-width: 6rem;">
		<div class="sm:flex-auto text-center sm:text-left">
			<p class="font-medium text-black text-lg m-0">{{ site.Params.author.name }}</p>
			<p class="text-gray-700 m-0 italic">{{ site.Params.author.location }}</p>
			<p class="mt-1 mb-0 text-gray-900">{{ site.Params.author.bio }}</p>
		</div>
	</div>
	<div class="social-icons justify-center sm:justify-start">
		<a target="_blank" href="{{ site.Params.author.links.website }}"><svg class="feather"><use xlink:href="/fonts/feather-sprite.svg#compass"/></svg></a>
		<a target="_blank" href="{{ site.Params.author.links.gitlab }}"><svg class="feather"><use xlink:href="/fonts/feather-sprite.svg#gitlab"/></svg></a>
	</div>
</div>
