<div class="hero-newsletter text-blue-100 px-6 pt-6 pb-4 bg-blue-800">
	<div class="mx-auto text-center max-w-2xl">

		<div class="mb-4">
			<img class="inline" src="/uploads/logo.svg" width="80">
			<span class="inline mx-6 sm:mx-8" style="font-size: 60px; line-height: 0; position: relative; top: 14px;">+</span>
			<img class="inline" src="/uploads/envelope.svg" width="80">
		</div>

		<p class="header text-2xl md:text-4xl"><span class="text-green-300">byte-sized</span> tech articles.</p>
		<p class="header text-2xl md:text-4xl mb-4">delivered straight to <span class="text-green-300">your inbox</span>.</p>

		<p class="mb-4 text-on-blue">Every month, receive a curated selection of tech articles.</p>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/phplist-subscribe-0.2.min.js"></script>

		<div id="phplistsubscriberesult"></div>
		<div class="flex justify-center mb-4">
			<form class="flex rounded overflow-hidden" action="https://thesynack.hosted.phplist.com/lists/?p=subscribe&id=1" method="post" id="phplistsubscribeform">
				<input class="w-48 bg-white shadow-2xl text-gray-700 rounded-none" type="email" value="" id="emailaddress" placeholder="you@example.com">
				<button class="btn rounded-none text-white py-2 px-4 bg-blue-500 hover:bg-blue-600" id="phplistsubscribe">Subscribe</button>
			</form>
		</div>

		<a class="text-blue-300 hover:underline" href="/newsletter">What's this?</a>

	</div>
</div>
