{{ if ne "/" .RelPermalink }}

{{ $pathLen := sub (len (split .RelPermalink "/")) 2 }}
{{ $scratch := newScratch }}

{{ $scratch.Set "breadcrumbs" "<p>/<a class=\"hover:underline text-gray-800\" href=\"/\">home</a>" }}
{{ $scratch.Set "url" "" }}

{{- range $index, $element := split .RelPermalink "/" -}}

	{{ if ne $element "" }}
		{{- $scratch.Add "url" "/" -}}
		{{- $scratch.Add "url" $element -}}
	{{ end }}

	{{- if eq $index $pathLen -}}
		{{- $scratch.Add "breadcrumbs" "<span class=\"text-green-800\">/" -}}
		{{- $scratch.Add "breadcrumbs" $element -}}
		{{- $scratch.Add "breadcrumbs" "</span>" -}}
	{{- else if ne $element "" -}}
		{{ $currentPath := $scratch.Get "path" }}
		{{- $scratch.Add "breadcrumbs" "<span>/<a class=\"hover:underline\" href=" }}
		{{- $scratch.Add "breadcrumbs" ($scratch.Get "url") -}}
		{{- $scratch.Add "breadcrumbs" ">" -}}
		{{- $scratch.Add "breadcrumbs" . -}}
		{{- $scratch.Add "breadcrumbs" "</a></span>" -}}
	{{- end -}}

{{ end }}
{{- $scratch.Add "breadcrumbs" "</p>" -}}

<div class="container">
	<div class="font-mono text-gray-800 bg-gray-100 border border-gray-200 rounded-lg py-2 px-3">
		{{ $scratch.Get "breadcrumbs" | safeHTML }}
	</div>
</div>

{{ end }}
