{{ . | replaceRE "(<table>(:?.|\n)+?</table>)" "<div class=table-wrapper>${1}</div>" | replaceRE "(<div class=\"highlight\"><pre tabindex=\"0\" class=\"chroma\"><code class=\"language-[a-zA-Z0-9]+\" data-lang=\"([a-zA-Z0-9]+)\">(:?.|\n)+?</code></pre></div>)" "<p class=\"codeblock-label\">${2}</p>${1}" | safeHTML }}
