<div class="mb-2">
	<p class="text-gray-700 text-sm">
		<span>Published on </span>
		<time class="inline-block" datetime="{{ .PublishDate }}">{{ .PublishDate.Format .Site.Params.dateFormat | default "Jan 2, 2006" }}</time>

		{{ if ne (.Param "lastmod") .Date }}
		<span> |</span>
		<span class="text-blue-700"> Updated</span>
		<time class="inline-block text-blue-700" datetime="{{ .Lastmod }}"> {{ dateFormat .Site.Params.dateFormat (.Param "lastmod") }}</time>
		{{ end }}
	</p>
</div>
