<div class="mb-2">
	<p class="text-gray-700 text-sm">
		<time class="inline-block" datetime="{{ .PublishDate }}">{{ .PublishDate.Format .Site.Params.dateFormat | default "Jan 2, 2006" }}</time>
	</p>
</div>
