<div class="divider">
	<div class="divider-side border-blue-800"></div>
	<div class="divider-icons divider-center bg-blue-100 border-blue-800 px-2 py-2">
		<svg class="feather"><use xlink:href="/fonts/feather-sprite.svg#triangle"/></svg>
		<svg class="feather" style="transform: rotate(180deg)"><use xlink:href="/fonts/feather-sprite.svg#triangle"/></svg>
		<svg class="feather"><use xlink:href="/fonts/feather-sprite.svg#triangle"/></svg>
	</div>
	<div class="divider-side border-blue-800"></div>
</div>
