<footer id="footer" class="text-gray-700 bg-gray-200 border-t-2 border-gray-300 mt-auto text-center leading-loose">
  <div class="container p-4">	
		<p>Made with <svg class="inline-block feather"><use xlink:href="/fonts/feather-sprite.svg#heart"/></svg></p>
		<a target="_blank" href="https://gitlab.com/jallbrit/thesynack.com">Source Code</a>
  </div>
</footer>
