<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{ hugo.Generator }}

	<link rel="stylesheet" href="/css/bundle.css">

	{{ partial "favicons.html" }}

	{{ $title := print .Title " | " .Site.Title }}
	{{ if .IsHome }}
		{{ $title = .Site.Title }}
	{{ end }}
	<title>{{ $title }}</title>

	{{ if ne .Site.IsServer true }}
	<script defer src="https://analytics.spudbud.me/script.js" data-website-id="dc4078da-ac42-41a2-811b-1190997f9576"></script>
	{{ end }}

</head>
