<div class="shadow-md mb-4">
	<nav class="flex flex-wrap items-center mx-auto max-w-3xl rounded-b p-2">

		<a class="flex self-start items-center sm:mr-2 py-1 pl-1 my-auto rounded" href="/">
			<img src="/uploads/logo.svg" width="28">
			<img class="ml-2 pr-2 mt-auto mb-1" src="/uploads/logo-text.svg" width="90">
		</a>

		{{ $currentPage := . }}
		{{ range .Site.Menus.navbar }}
			<a class="btn hover:bg-gray-300 px-1 mx-1 sm:mx-2
				{{if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }}
					active text-black border-b-2 border-green-500 rounded-b-none
				{{ else }}
					text-gray-700
				{{ end }}

				{{ if in "Tags" .Name }}
					hidden	sm:block
				{{ end }}
				"

				href="{{ .URL }}"
			>
				<span>{{ .Name }}</span>
			</a>
		{{ end }}
		<div class="ml-auto flex items-center">
			<!-- <a class="ml-1" href="/newsletter"><button class="btn btn-sm btn-blue">Subscribe</button></a> -->
			<a class="ml-2 hidden sm:block" href="/index.xml"><button class="btn btn-sm btn-gray hover:bg-green-600 hover:border-green-600 px-1"><svg class="feather"><use xlink:href="/fonts/feather-sprite.svg#rss"/></svg></button></a>
		</div>
	</nav>
</div>
