{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="divider mb-6">
	<div class="divider-side border-gray-400"></div>
	<div class="paginator-nav divider-center">
			<!-- {{ with $pag.First }} -->
			<!-- <li class="page-item"> -->
			<!-- 		<a href="{{ .URL }}" class="page-link first"><span><<</span></a> -->
			<!-- </li> -->
			<!-- {{ end }} -->
			<a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} class="page-link previous {{ if not $pag.HasPrev }} disabled{{ end }}"><svg class="feather" width="26" height="26"><use xlink:href="/fonts/feather-sprite.svg#arrow-left"/></svg></a>
			{{ $ellipsed := false }}
			{{ $shouldEllipse := false }}
			{{ range $pag.Pagers }}
			{{ $right := sub .TotalPages .PageNumber }}
			{{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
			{{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
			{{ if $showNumber }}
					{{ $ellipsed = false }}
					{{ $shouldEllipse = false }}
			{{ else }}
					{{ $shouldEllipse = not $ellipsed }}
					{{ $ellipsed = true }}
			{{ end }}
			{{ if $showNumber }}
				<a href="{{ .URL }}" class="num {{ if eq . $pag }}active{{ end }} px-3 py-1 sm:px-2 sm:py-0">{{ .PageNumber }}</a>
			{{ else if $shouldEllipse }}
				<div class="page-item disabled"><span>&nbsp;&hellip;&nbsp;</span></div>
			{{ end }}
			{{ end }}
			<a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} class="next{{ if not $pag.HasNext }} disabled{{ end }}"><svg class="feather" width="26" height="26"><use xlink:href="/fonts/feather-sprite.svg#arrow-right"/></svg></a>
			<!-- {{ with $pag.Last }} -->
			<!-- <li class="page-item last"> -->
			<!-- 		<a href="{{ .URL }}" class="page-link last"><span>>></span></a> -->
			<!-- </li> -->
			<!-- {{ end }} -->
	</div>
	<div class="divider-side border-gray-400"></div>
</div>
{{ end }}
