<div class="bg-gray-100 p-4 rounded-lg shadow-md mb-6">
	<a href="{{ .Permalink }}"><p class="title mb-1 text-lg transition-color duration-300 hover:text-green-700">{{ .Title | markdownify }}</p></a>
	{{ partial "date.html" . }}
	{{ partial "tags.html" . }}
</div>
