{{ $related := .Site.RegularPages.Related . }}

<h2 class="text-center text-mono mb-6 m-0">
	{{ if (gt $related 0) }}Related Posts{{ else }}Keep Reading{{ end }}
</h2>

<div class="px-2 flex flex-wrap sm:flex-no-wrap">
	{{ if (gt $related 0) }}

		{{ range $related | first 3 }}
			<div class="w-full mx-2">
				{{ partial "post-card" . }}
			</div>
		{{ end }}

	{{ else }}
		{{ with .PrevInSection }}
			<div class="w-full mx-2">
				{{ partial "post-card" . }}
			</div>
		{{ end }}

		{{ with .NextInSection }}
			<div class="w-full mx-2">
				{{ partial "post-card" . }}
			</div>
		{{ end }}
	{{ end }}
</div>
