<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">
	{{ partial "head.html" . }}
		{{ partial "navbar.html" . }}
		{{ partial "breadcrumbs.html" . }}
		<div class="container">
			<main id="main">
				<h1>Error 404</h1>
				<h2>Requested URL Not Found</h2>
				<p>Looks like the resource you're looking for is not available. You might want to check the link that sent you here.</p>
			</main>
		</div>
		{{ partial "footer.html" . }}
		{{ partial "script.html" . }}
	</body>
</html>
