<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">
	{{ partial "head.html" . }}
	{{ partial "navbar.html" . }}
	<main id="main">

			<div class="hero rounded p-4 -mt-3 flex flex-col items-center mx-auto w-auto bg-gray-100">
				<img class="mb-4" src="uploads/logo.svg" width="180px">
				<img src="uploads/logo-text.svg" width="250px">
				<i>byte-sized articles</i>
			</div>

		<div class="container mb-8">
			<h2 class="text-center">Recent Posts</h2>
			{{ range first 4 (where .Site.RegularPages.ByDate.Reverse "Type" "posts") }}
				{{ partial "post-card.html" . }}
			{{ end }}
				<a href="/posts" class="mx-auto"><svg class="feather inline mb-2 mr-1"><use xlink:href="/fonts/feather-sprite.svg#corner-down-right"/></svg><h3 class="inline underline">See All Posts...</h3></a>
		</div>

		<!-- {{ partial "banner-newsletter.html" }} -->

	</main>
	{{ partial "footer.html" . }}
	{{ partial "script.html" . }}
	</body>
</html>
