/* Tailwind CSS */
@tailwind base;
@tailwind components;

/* custom Tailwind CSS components */

/* base styles */

blockquote {
	@apply font-serif text-gray-600 bg-gray-100 border-l-4 border-blue-200 pl-6 pr-4 py-4;
}

pre {
	@apply text-sm rounded p-4 overflow-auto;
}

pre > code {
	font-size: inherit;
	color: inherit;
}

code {
	@apply text-black bg-gray-200 rounded;
	font-size: .875em;
	padding: .2em .3em;
}

pre > code {
	@apply bg-transparent p-0;
}

h1, h2, h3, h4, h5, h6, .title, .header {
	@apply font-medium;
}

h2, h3, h4, h5, h6 {
	@apply font-header;
}

h1, h2, h3 {
	@apply mt-6 mb-4;
}

h1 {
	@apply text-3xl mt-1;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

h4 {
	@apply text-lg;
}

h4, h5, h6 {
	 @apply mt-4 mb-3;
}

ul, ol {
	@apply ml-8 mb-6;
}

ul > li,
ol > li {
	@apply mb-4;
}

ul {
	@apply list-disc;
}

ol {
	@apply list-decimal;
}

blockquote :last-child {
	@apply mb-0;
}

/* standalone figcaptions need bottom margin */
figcaption {
	@apply -mt-2 mb-6;
	max-width: 16rem;
}

/* on larger screens, captions should be wider */
@media (min-width: 640px) {
	figcaption {
		@apply max-w-lg;
	}
}

/* captions inside figures need less bottom margin and need to take up an entire flex row */
figure figcaption,
figure figcaption p {
	@apply mb-2;
	flex-basis: 100%;
}

figcaption,
figcaption p,
article figcaption p {
	@apply mx-auto text-gray-800 text-sm text-center;
}

html {
	@apply font-sans h-full w-full;
}

body {
	@apply flex flex-col items-stretch min-h-full;
}

main {
	@apply flex-grow;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.container {
	@apply font-sans mx-auto px-6 max-w-3xl;
}

footer {
	@apply flex-shrink-0;
}

footer a:hover {
	text-decoration: underline;
}

/* input */

input {
	@apply appearance-none;
}

input:focus {
	@apply outline-none shadow-outline;
}

input[type=email] {
	@apply py-2 px-4;
}

/* tables */

.table-wrapper {
	@apply overflow-auto;
}

table {
	@apply mx-auto border-collapse;
}

table th,
table td {
	@apply px-2 py-1;
}

/* table header internal borders should be inverted */
table > thead {
	@apply border border-gray-700;
}
table > thead > tr > th {
	@apply bg-gray-800 text-gray-100 border-r border-gray-500;
}
table th:last-child {
	@apply border-r-0;
}

/* hide empty table headers */
table > thead > tr > th:empty {
	@apply hidden;
}

table td {
	@apply border border-gray-600;
}

/* make every other table row a darker shade */
table > tbody > tr:nth-child(2n) {
	@apply bg-truegray-200;
}

/* buttons */

.btn {
	@apply rounded transition duration-300;
}

button:focus {
	@apply shadow-outline;
}

.btn-xs {
	padding-top: 0.4rem;
	padding-bottom: .4rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.btn-sm {
	@apply py-1 px-2;
}

.btn-md {
	@apply py-2 px-3;
}

.btn-blue {
	@apply bg-blue-600 text-gray-100;
}
.btn-blue:hover {
	@apply bg-blue-700;
}

.btn-gray {
	@apply bg-gray-300 text-gray-700;
}
.btn-gray:hover {
	@apply bg-gray-600 text-gray-100;
}

.btn-tag {
	@apply uppercase font-mono border mr-1 text-gray-700 bg-gray-200;
}
.btn-tag:hover {
	@apply bg-gray-300;
}

/* social icons */

.social-icons {
	@apply flex;
}

.social-icons > a {
	@apply btn text-black inline-block mx-1;
}

.social-icons > a:hover {
	@apply text-blue-600;
}

/* paginator */

.paginator-nav {
	@apply flex items-center bg-gray-100 border-2 border-gray-700 list-none px-2;
}

.paginator-nav > .num {
	@apply text-xl text-gray-900 bg-gray-300;
}
.paginator-nav > .num:not(.active) {
	@apply border-l border-r border-gray-400;
}

.paginator-nav > .num:not(.active):not(.disabled):hover {
	@apply bg-gray-400;
}

.paginator-nav > .active {
	@apply text-white bg-gray-700;
}

.paginator-nav > .disabled {
	@apply text-gray-400;
}

.paginator-nav a.first,
.paginator-nav a.last {
	@apply text-green-700;
}
.paginator-nav a.previous,
.paginator-nav a.next {
	@apply text-green-700;
}

.paginator-nav a.previous {
	@apply pr-2;
}
.paginator-nav a.next {
	@apply pl-2;
}

/* divider */

.divider {
	@apply flex flex-grow items-center;
}

.divider-side {
	@apply flex-grow border-t-2;
}

.divider-center {
	@apply rounded-lg border-2;
}

.divider-icons {
	@apply flex;
}

/* article */

article p {
	@apply text-truegray-900 text-base leading-relaxed mb-6;
}

@media (min-width: 640px) {
	.cols {
		@apply flex mb-6;
	}
	.cols > div {
		@apply p-5;
	}
	.col-1 {
		@apply border-r border-gray-400;
	}
	.col-1, .col-2 {
		@apply w-1/2;
	}
	.cols .anchor {
		@apply mr-1;
		left: 0;
		position: relative;
	}
}

article blockquote,
article pre,
article > .highlight,
article img,
article figure,
article table {
	@apply mb-6;
}

figure {
	@apply flex flex-wrap justify-around;
}

article pre {
	@apply bg-gray-100 rounded;
}
article pre:not(.chroma) {
	@apply border border-gray-200;
}

article a {
	@apply text-blue-700 underline;
}

/* codeblocks */

.codeblock-label {
	@apply inline-block rounded-t-lg font-mono text-xs bg-gray-300 py-1 px-3 border-t border-l border-r border-gray-400 mb-0;
}

/* hide additional codeblock labels */
.codeblock-label + .codeblock-label {
	@apply hidden;
}

.codeblock-label + .highlight > .chroma {
	@apply rounded-b-lg rounded-tr-lg;
}

.highlight > pre {
	@apply rounded-none;
}

/* anchors */

.anchor {
	@apply absolute font-normal no-underline transition duration-300;
	font-size: inherit;
}

.anchor:hover {
	@apply text-green-700;
}

h2 > .anchor {
	color: #9b9b9b;
}

h3 > .anchor {
	color: #b0b0b0;
}

/* footnotes */
.footnotes > ol {
	@apply pt-4;
}

.footnotes .footnote-backref {
	@apply no-underline;
}

/* mathjax */
.MathJax {
	@apply overflow-auto;
}

@tailwind utilities;

/* Tailwind CSS responsive classes */ 
@responsive {
	h2 > .left-nospaced {
		left: -1.25rem;
	}

	h2 > .left-spaced {
		left: -1.5rem;
	}

	h3 > .left-nospaced {	
		left: -1.2rem;
	}

	h3 > .left-spaced {
		left: -1.3rem;
	}
}

.hero-newsletter {
	background-image: linear-gradient(to right, hsl(209, 62%, 50%), hsl(215, 41%, 28%));
}

.subscribed {
	@apply rounded p-4 bg-green-700 border border-green-900;
}

.text-on-blue-dark {
	color: hsl(190, 100%, 90%);
}

.text-on-gray {
	color: hsl(205, 32%, 44%);
}

/* feather icons */
.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: reound;
	stroke-linejoin: round;
	fill: none;
}
